
 *{
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

font-family: 'Creepster', cursive;

.header {background: url(nave-espacial-47272.mp4)}

.header .navbar {background-color: transparent !important;
                }
body {
    font-family: 'Nulshock-Bold', sans-serif;
}


.logo img { width: 30%;
            height: 30%;
            margin-top: 50px;
    }

video{  min-width: 100%;
        min-height: 100%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translateX(-50%) translateY(-50%);
        z-index: -1;}

 .title{
     text-align: center;
     margin-top: 80px;
     font-family: sans-serif;
     font-size: 40px;
     text-transform: uppercase;
     color: white;
 }

 .container__slider{
     max-width: 1000px;
     height: 500px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 10px 10px;
     margin-top: -60px;
     margin-bottom: 10px ;
 }

 input[type=radio]{
     display: none;
 }

 .container{
     width: 100%;
     max-width: 1200px;
     height: 80%;
     max-height: 600px;
     transform-style: preserve-3d;
     display: flex;
     justify-content: center;
     align-items: center;
 }

 .cards{
     position: relative;
     width: 100%;
     height: 100%;
 }

 .card{
     position: absolute;
     width: 60%;
     height: 100%;
     left: 0;
     right: 0;
     margin: auto;
     cursor: pointer;
     transition: transform 0.4s cubic-bezier(0.165, 0.84, 0.44, 1);
 }

 img{
     width: 100%;
     height: 100%;
     border-radius: 10px;
     -o-object-fit: cover;
     object-fit: cover;
 }


 #item-2:checked ~ .cards #selector-1,
 #item-1:checked ~ .cards #selector-3,
 #item-3:checked ~ .cards #selector-2{
     transform: translateX(-40%) scale(0.8);
     opacity: 0.6;
     z-index: 0;
 }

 #item-3:checked ~ .cards #selector-1,
 #item-1:checked ~ .cards #selector-2,
 #item-2:checked ~ .cards #selector-3{
     transform: translateX(40%) scale(0.8);
     opacity: 0.6;
     z-index: 0;
 }

 #item-1:checked ~ .cards #selector-1,
 #item-2:checked ~ .cards #selector-2,
 #item-3:checked ~ .cards #selector-3{
     transform: translateX(0) scale(1);
     z-index: 1;
 }

#caja_formulario  {     color: green;
                        text-align: center;
                        font-size: 15px;
                        margin-bottom: 35px;}

#caja_formulario boton {color:  #00B3CB}


.redes {text-align: center;martin-bottom: 100px}

h3 {margin-top: 50px}

h4 {    color: #A7C564;
        font-size: 25px;
        text-align: center;
        margin-bottom: 40px;}


#caja_formulario  {     color: #A7C564;
                        text-align: center;
                        font-size: 15px;
                        margin-bottom: 35px;}
                
#caja_formulario:hover {background: #00B3CB;}

.redes {text-align: center;martin-bottom: 100px}


@media (max-width: 720px) { .logo img {  width: 60%;
                                        height: 60%;
                                        margin-top: 50px;}

                            .container {width: 900%;
                                        max-width: 1000px;
                                        height: 60%;
                                        max-height: 500px;
                                        transform-style: preserve-3d;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;}}



@media (max-width: 480px) { .logo img {  width: 65%;
                                        height: 65%;
                                        margin-top: 40px;}

                            .container {width: 700%;
                                        max-width: 1000px;
                                        height: 40%;
                                        max-height: 500px;
                                        transform-style: preserve-3d;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;}

                            .container__slider{
     max-width: 1000px;
     height: 400px;
     margin: auto;
     display: flex;
     align-items: center;
     justify-content: center;
     padding: 5px 5px;
     margin-top: -80px;
     margin-bottom: 10px ;}





